.booking {
  padding: 65px 45px;
  text-align: center;
  border-top: 1px solid @gray-light;


  &__title {
    font-size:24px;
    font-family: @serif-caption;
    color: @gray-darker;
    margin-top: 0;
    font-weight: normal;

    @media (min-width: @screen-lg) {
      font-size: @font-size-h1;
    }
  }

  &__information {
    font-size: @font-size-base;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 30px;
  }

  &__phone{
      color: @orange;

    }
}