
 .max-width
 {
  width: 380px;
 }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.price {
    font-size: 16px;
    font-family: @fira-sans;
    color: @orange;
    line-height: @line-height;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    text-decoration: none;
}

.align-center {
text-align: center;
}

ul{
  padding: 0px;
  margin: 0px;
}

ul li {
  display: inline-block;
}

h1,
 {
  font-size: @font-size-h1;
  line-height: 42px;
  font-family: @serif-caption;
  color: @gray-darker;
  font-weight: normal;
}

h2,
{
  font-size: 26px;
  line-height: normal;
  font-family: @serif-caption;
  color: @gray-darker;
  font-weight: normal;
}
@media (min-width: 768px) {
   h2,
{
    font-size: 30px;
  }
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  justify-content: space-around;
}