.page-header{
  border-bottom: 1px solid @gray-lighter;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;

  &__inner{
    position: relative;
  }

  &__logo{
    text-align: center;

    @media (min-width: @screen-lg) {
    text-align: left;
    }
  }

  &__btn{
    margin-top: 15px;
    margin-right: -20px;
    padding-right: 0px;
    i{
      margin-right: 10px;
    }
  }
  &__contacts{
    margin-left: 20px;
    margin-bottom: 5px;
  }

  &__phone{
    font-size: 18px;
    line-height: 24px;
    font-family: @sans-caption;
    margin-bottom: 5px;
  }

  &__adress{
    font-family: @fira-sans;
    font-size: 14px;
    font-weight: 300;
    padding: 0px;
    line-height: 24px;

  }
}


.main-nav{

    display: inline-block;
    margin-left: -15px;



  &__list {
    padding: 0px;
    margin-top: 16px; 
    margin-bottom: 0;
    margin-right: 70px; 
  }

  &__item {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 12px;
  }

  &__link {
    text-decoration: none;
    color: @gray-darker;
    font-size: @font-size-small;
    font-weight: 400;
    font-family: @fira-sans;

    &:hover {
      color: @orange;
    

    &--underline {
      position: relative;

      &:before {
        content: '';
        width: 30px;
        height: 2px;
        background-color: @orange;
        position: absolute;
        left: 50%;
        bottom: -5px;
      }
    }

    &--underline-double {
      position: relative;

      &:before, &:after {
        content: '';
        display: inline-block;
        width: 30px;
        height: 2px;
        background-color: @orange;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
      }

      &:before {
        bottom: -5px;
      }

      &:after
      {
        bottom: -10px;
      }
    }
  }
}
}

